* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    margin: 20px 0px 10px;
}

ul:not(.nav) {
    margin: 10px;
}

ul li {
    margin-left: 20px;
}

div#contenedor, body {
    background-color: #ecdcc6;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
}

div.encabezado, header {
    background-image: url(./../imgs/guesteaus.png);
    background-size: cover;
    background-position: bottom;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 36px;
    text-align: center;
    height: 350px;
    padding-top: 120px;
    text-shadow: 3px 3px #ffffff;
}

header {
    font-size: 25px;
}

#logo {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
}

div.menu, nav {
    background-color: #a77e58;
    border-bottom: medium solid #5a3e36;
}

div.menu .material-symbols-outlined, nav .material-symbols-outlined {
    display: none;
}

.nav {
    padding: 20px;
}

.nav li {
    display: inline-block;
    list-style: none;
    margin: 5px;
}

.nav li a {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 400ms;
}

.nav li a:hover {
    background-color: #a77e58;
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}

#navbar {
    font-size: 18px;
    margin-left: 15px;
    transition: color 400ms, background-color 400ms
}

#navbar li a:hover {
    color: #5a3e36;
    background-color: #ecdcc6;
}

div.contenido, section.menu-estrella {
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 18px;
    padding: 0px 50px 30px;
    float: left;
    width: 70%;
}

section.menu-estrella ul li {
    margin: 10px 20px;
    transition: font-size 200ms;
}

section.menu-estrella ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.1em;
}

main ul li span::after{
    content: "";
    padding: 0px 5px;
    font-size: 8px;
    border-radius: 10px;
    margin-left: 10px;
    border: 2px solid #5a3e36;
    display: none;
}

span[nueces]::after {
    background-color: brown;
}

span[mariscos]::after {
    background-color: red;
}

span[lacteos]::after {
    background-color: purple;
}

span[gluten]::after {
    background-color: orange;
}

[data-alergenos~=nueces] span[nueces]::after {
    display: inline;
}

[data-alergenos~=mariscos] span[mariscos]::after {
    display: inline;
}

[data-alergenos~=lacteos] span[lacteos]::after {
    display: inline;
}

[data-alergenos~=gluten] span[gluten]::after {
    display: inline;
}

.sidebar {
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 18px;
    padding: 0px 35px 35px;
    float: right;
    width: 30%;
}

section.sidebar ul {
    margin-top: 25px;
}

section.sidebar ul li {
    margin: 10px 20px;
    list-style: none;
}

div.pie, footer {
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 0px 25px 15px;
    clear: both;
}

form {
    margin: 15px 30px;
}

form#form-contacto {
    margin: 20px 50px;
}

fieldset {
    padding: 0px 20px 20px;
    border-radius: 5px;
    border-color: #a77e58;
}
legend {
    padding: 0px 10px;
    font-weight: bold;
}

form h6 {
    color: #a77e58;
    margin: 5px 0px 0px;
}

.user-input {
    display: block;
    border: 1px solid #a77e58;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff8f0;
    color: #5a3e36;
    margin-top: 5px;
    width: 100%;
}

.user-input::placeholder {
    color: #a77e58;
}

button {
    background-color: #5a3e36;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin: 15px;
    float: right;
    transition: background-color 200ms;
}

button:hover {
    background-color: #a77e58;
    cursor: pointer;
}

h3#contacto {
    clear: right;
}

label {
    font-size: 16px;
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

label:has(.user-input:required)::before {
    content: "* ";
    color: #a77e58;
}

@media only screen and (max-width: 600px) {
    div.menu, nav {
        height: 50px;
    }

    #navbar {
        background: #a77e58;
        position: fixed;
        top: 0px;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding: 50px 0px;
    }

    div.menu .material-symbols-outlined, nav .material-symbols-outlined {
        display: block;
        width: 40px;
        font-size: 40px;
        color: #ffffff;
        cursor: pointer;
        float: right;
        margin: 5px 10px;
        transition: color 200ms;
    }

    div.menu .material-symbols-outlined:hover, nav .material-symbols-outlined:hover {
        color: #5a3e36;
    }

    #navbar li {
        display: block;
        margin: 25px;
        text-align: right;
    }

    #navbar:first-child {
        padding-top: 75px;
    }

    #navbar .material-symbols-outlined {
        position: absolute;
        top: 25px;
        right: 15px;
    }

    div.contenido, section.menu-estrella {
        float: none;
        width: 100%;
        padding: 10px 30px 65px;
    }

    section.menu-estrella {
        padding-bottom: 30px;
    }

    .sidebar {
        float: none;
        width: 100%;
        padding: 5px 30px 15px;
        clear: both;
    }

    form {
        margin: 15px 0px !important;
    }

    fieldset {
        padding: 0px 10px 10px;
    }

    div.encabezado, header {
        height: 150px;
        padding-top: 25px;
        font-size: 20px;
    }

    header {
        font-size: 15px;
    }

    #logo {
        width: 50px;
        height: 50px;
        border-radius: 7px;
    }
}